.reg-card{
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: white;
    box-shadow: 10px 10px 14px rgba(0,0,0,0.1);
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reg-card:hover{
    transform: translateY(-5px);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.2);
}

.reg-card .image{
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9; /* Ensures all images have the same width-to-height ratio */
    overflow: hidden;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.reg-card .image img{
    border-radius: 12px 12px 0 0;
    width: 200px;
}

.loc{
    position: absolute;
    top: 6px;
    left: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid white;
    padding: 5px 8px;
    backdrop-filter: blur(5px);
    border-radius: 14px;
}

.loc svg {
    font-size: 16px;
}

.desc {
    padding: 14px;
    font-size: 14px;
    color: #444;
}

.desc p {
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.desc svg {
    color: #25b09b;
    font-size: 16px;
}


